# Q) 1

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats

In [ ]:
stats.norm.cdf(60,55,8)

0.7340144709512995

the above value is the probability that service manager meet his commitment

now to find the probability that service manager meet his commitment is that we have to subtract it with 1

In [ ]:
1-stats.norm.cdf(60,55,8)

0.26598552904870054

hence the probabilty that service manager meet hsi commitment is 0.26598(approx.) which is option (B.)

# Q) 2

A.

In [ ]:
mean = 38
std = 6

In [ ]:
prob_older_than_44 = 1 - stats.norm.cdf(44,mean,std)
prob_older_than_44

0.15865525393145707

In [ ]:
prob_younger_than_38 = stats.norm.cdf(38,mean,std)
prob_younger_than_38

0.5

In [ ]:
prob_between_38_and_44 = stats.norm.cdf(44,mean,std) - prob_younger_than_38
prob_between_38_and_44

0.3413447460685429

In [ ]:
if (prob_older_than_44 > prob_between_38_and_44):
  print("More employees at the processing center are oldest than 44 than between 38 and 44")
else:
  print("More employees at the processing center are not oldest than 44 than between 38 and 44")

More employees at the processing center are not oldest than 44 than between 38 and 44

B.

In [ ]:
mean = 38
std = 6

In [ ]:
prob_under_30 = stats.norm.cdf(30,mean,std)
prob_under_30

0.09121121972586788

In [ ]:
expected_employees_under_30 = prob_under_30 * 400
expected_employees_under_30

36.484487890347154

In [ ]:
if (round(expected_employees_under_30) == 36):
  print ("A training program for employees under the age of 30 at the center would be expected to attract about 36 employees.")
else:
  print ("A training program for employees under the age of 30 at the centrer would not be expected to attract about 36 employees.")

A training program for employees under the age of 30 at the center would be expected to attract about 36 employees.

# Q) 4

In [ ]:
a_and_b_values = np.round(stats.norm.interval(0.99,100,20),1)

In [ ]:
print ("The two values, a and b, symmetric about the mean, such that the probability of the random variable taking a value between them is 0.99 is ",a_and_b_values)

The two values, a and b, symmetric about the mean, such that the probability of the random variable taking a value between them is 0.99 is  [ 48.5 151.5]

# Q) 5

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats

A.

In [ ]:
stats.norm.interval(0.95,540,225)

(99.00810347848784, 980.9918965215122)

C.

In [ ]:
#probability of division 1 making a loss
div_1 = stats.norm.cdf(0,5,3)

In [ ]:
#probabiliy of division 2 making a loss
div_2 = stats.norm.cdf(0,7,3)

In [ ]:
if (div_1 > div_2):
  print (" The Division 2 (Profit2 ~ N(7,16)) has a larger Probability of making a loss in a given year ")
else:
  print ("The Division 1 (Profit1 ~ N(5,9)) has a larger Probability of making a loss in a given year ")

 The Division 2 (Profit2 ~ N(7,16)) has a larger Probability of making a loss in a given year